.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100vw;
    height: 110px;
    background-color: red;
}

body.darker .navbar {
    background-color: #000;
}

.logo-container {
    width: 200px;
    height: 70px;
    margin-left: 40px;
}

.logo-container img {
    width: 100%;
    height: 100%;
}

.searchbar-cont {
    width: 350px;
}

.create-cont {
    margin-right: 40px;
    width: 100px;
}

.create-button {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 162, 255);
    font-weight: 800;
}

body.darker .create-button {
    background-color: rgb(73, 73, 73);
}

.create-button:hover {
    transform: scale(1.2);
    filter: saturate(200%);
    cursor: pointer;
}

.switch-cont {
    display: flex;
    margin-top: 10px;
    margin-right: 5px;
}

@media (max-width: 600px) {

    .navbar {
        width: 100%;  
        display: flex;
    }

    .logo-container {
        display: none;
    }

    .searchbar-cont {
        width: 90%;
    }

    .create-cont {
        display: none;
    }
}