.section-home {
    min-height: 100vh;
}

body.darker .section-home {
    background-color: rgba(0, 0, 0, 0.877);
}

.filt-order-cont {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pokemons-grid {
    --gap: 40px;
    --num--cols: 4;
    --row--height: 700px;

    box-sizing: border-box;
    padding: var(--gap);
    
    display: grid;
    grid-template-columns: repeat(var(--num--cols), 1fr);
    grid-auto-rows: var(--row--height);
    gap: var(--gap);
    justify-content: center;
    align-content: center;
}

.filter-butt, .order-butt {
    color: white;
    border-radius: 15px;
    background-color: rgb(0, 162, 255);
    border: none;
    height: 30px;
    width: 150px;
    margin: 0 5px;
    text-align: center;
}

body.darker .filter-butt{
    background-color: rgb(45, 45, 45);
    color: white;
}

body.darker .order-butt {
    background-color: rgb(45, 45, 45);
    color: white;
}

.filter-butt:hover, .order-butt:hover {
    filter:saturate(200%);
    cursor: pointer;
}

.reset-button:hover{
    transform: scale(1.3);
    filter:saturate(200%);
    cursor: pointer;
}