.details-section {
    background: url("https://images2.alphacoders.com/837/837971.png");
    background-position: center;
    background-size:cover;
}

.mother-cont {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    min-height: 100vh;
}

.detail-cont {
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 14, 14);
    width: 40%;
    height: 880px;
    border-radius: 30px;
    margin-top: 30px;
    color: #fff;
    filter: drop-shadow(0 0 5px rgb(63, 62, 62));
}

.detail-cont h2{
    text-align: center;
}

.detail-cont span {
    display: flex;
    justify-content: center;
}

.detail-cont .pokemon-img-cont {
    height: 70%;
    background: url("https://www.iconninja.com/files/965/672/888/longico-pikachu-pokeball-pokemon-icon.svg");
    background-position: center;
    background-size:cover;
}

.detail-cont span img {
    object-fit: contain;
    width: 70%;
}

.stats-cont {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.type-cont {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0;
}

.type-cont span img {
    width: 70px;
    height: 70px;
}

.type-cont span img:hover {
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
}

.delete-cont{
    display: flex;
    justify-content: center;
}

.delete-button{
    background-color: rgb(98, 0, 255);
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
    border: none;
    border-radius: 15px;
    width: 80px;
    height: 28px;
    align-items: center;
}

.delete-button:hover{
        transform: scale(1.2);
        background-color: rgb(59, 226, 4);
}

.back-home-container {
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
}
