.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.page-num {
    border-radius: 15px;
    background-color: rgb(0, 162, 255);
    color: white;
    border: none;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 3px;
}

.active {
    background-color: rgb(223, 6, 6);
    transform: scale(1.2);
}


body.darker .page-num {
    background-color: rgb(45, 45, 45);
}

body.darker .active {
    background-color: rgb(223, 6, 6)!important;
    transform: scale(1.2);
}

.prev-button, .next-button, .reset-button {
    border-radius: 15px;
    background-color: rgb(0, 162, 255);
    color: white;
    border: none;
    text-align: center;
    margin: 0 5px;
    height: 30px;
    width: 80px;
}

body.darker .next-button{
    background-color: rgb(45, 45, 45);
}

body.darker .prev-button{
    background-color: rgb(45, 45, 45);
}

.reset-button {
    background-color: rgb(223, 6, 6);
}

.page-num:hover{
    transform: scale(1.3);
    filter:saturate(200%);
    cursor: pointer;
}

.prev-button:hover, .next-button:hover {
    filter: saturate(200%);
    cursor: pointer;
}